* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    background: #45484d;
    background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%);
    background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%);
    background: linear-gradient(to bottom,  #45484d 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );

    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
}

.canvas-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

canvas {
    border: 1px dashed grey;
}

.event-container {
    border: 1px dashed grey;
    width: 256px;
    height: 602px;
    overflow: hidden;
}

.placeholder {
    display: flex;
    flex-direction: column-reverse;
}

.event {
    color: white;
    font-family: "Comic Sans MS";
    padding: 0 10px;
}

.event-header {
    text-align: center;
    border-bottom: 1px dashed grey;
    color: white;
    font-family: "Comic Sans MS";
    font-size: 16pt;
    height: 34px;
}

.stats-container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    
}

.stat {
    color: white;
    font-family: "Comic Sans MS";
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 600px;
}

.stats-population {
    display: flex;
    flex-direction: column;
}

.stats-peak {
    display: flex;
    flex-direction: column;
}

.stats-other {
    display: flex;
    flex-direction: column;
}

h2 {
    color: white;
    font-family: "Comic Sans MS";
    text-decoration: underline;
}